.navbar-home{
    margin: auto
}
.color-nav{
    background-color:#000000;
    border-bottom: 3px solid #3e399e;
}
.upload{
    margin-bottom: 10px;
}
h3{
    left: 25vw
}
@font-face{
    font-family: myFirstFont;
    src: url(./assets/fonts/CentraNo2-Book.ttf)
}
.App{
    background-color: black;
    color: rgba(255, 255, 255, 0.797);
    height: 100vh;
    font-family: myFirstFont;
}
.home-text::before{
    content: "";
    background-image: url('./assets/img/background.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}
.home-text-2{
    margin: 0;
    position: absolute;
    top: 45vh;
    left: 5vw;
}
.description{
    background-color:black;
    width: 100vw;
    height: 5vh;
    text-align: center;
    position:fixed;
    bottom: 0%;
}
.gettingStarted{
    margin: 0;
    position: absolute;
    top: 45vh;
    left: 5vw;
}